.myungjo {
    font-family: 'chosun_ilbo_myungjo';
}

.pfont-l {
    font-family: 'peoplefont_l';
}

.pfont-b {
    font-family: 'peoplefont_b';
}

@media screen and (max-width: 768px) {
    .md-tb-rl {
        writing-mode: tb-rl;
        margin-left: auto;
    }
    .md-tb-rl h1 {
        margin: 0;
    }
}

.border-0 {
    border: none;
}

.nowarp {
    white-space: nowrap;
}

.btn-register {
    color: #fff;
    background: #3077e2;
}
.btn-register:hover {
    color: #fff;
    background: #2c68c2;
}

.bg-peoplefund {
    color: #fff;
    background: linear-gradient(90deg, #3c9bff, #407dfe);
}

#page-top {
    margin-top: 56px;
}

#speakers .profile {
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.jumbotron {
    margin: 0;
}