
@font-face {
    font-family: 'chosun_ilbo_myungjo';
    src: url('../resources/fonts/chosun_ilbo_myungjo/chosun_ilbo_myungjo.woff2') format('woff2'),
         url('../resources/fonts/chosun_ilbo_myungjo/chosun_ilbo_myungjo.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}