.img-cover {
    background-position: center;
    background-size: cover;
}

.img-contain {
    background-origin: content-box;
    background-position: center;
    background-size: contain;
}

.logo-pf {
    background-image: url(../resources/images/logo-pf.svg);
    width: 100px;
}

.middle-bg-1 {
    background-image: url(../resources/images/startup-tech-challenge-2nd.png);
    width: 100%;
    height: 480px;
    @media screen and (max-width: 768px) {
        height: 240px;
    }
}

.middle-bg-2 {
    background-image: url(../resources/images/startup-tech-challenge-3rd.jpg);
    width: 100%;
    height: 480px;
    @media screen and (max-width: 768px) {
        height: 240px;
    }
}

.middle-bg-0 {
    background-image: url(../resources/images/startup-tech-challenge-3rd-2.jpg);
    width: 100%;
    height: 480px;
    @media screen and (max-width: 768px) {
        height: 240px;
    }
}

.dummy-image {
    background-image: url(../resources/images/dummy-image.JPG);
    width: 100%;
    height: 100%;
}

.bg-wework-seolleung-3 {
    background-image: url(../resources/images/wework-seolleung-3.png);
    width: 100%;
    height: 100%;
}

.bg-wework-seolleung-3-map {
    background-image: url(../resources/images/wework-seolleung-3-map.png);
    width: 100%;
    height: 480px;
}