.myungjo {
    font-family: 'chosun_ilbo_myungjo';
}

.pfont-l {
    font-family: 'peoplefont_l';
}

.pfont-b {
    font-family: 'peoplefont_b';
}

.md-tb-rl {
    @media screen and (max-width: 768px) {
        writing-mode: tb-rl;
        margin-left: auto;
        & h1 {
            margin: 0;
        }
    }
}

.border-0 {
    border: none;
}

.nowarp {
    white-space: nowrap;
}

.btn-register {
    color: #fff;
    background: linear-gradient(102deg,#3c9bff,#407dfe);
    &:hover {
        color: #fff;
    }
}