body * {
    font-family: 'chosun_ilbo_myungjo';
    writing-mode: tb-rl;
    margin: 0;
    padding: 0;
}

.text {
    font-weight: normal;
    font-size: 5rem;
    display: inline;
    padding: 0.1em 0;
}

h1 .text, h2 .text, h3 .text {
    background-color: rgba($color: #000000, $alpha: 0.9);
    color: #fff;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}